/* Customize the button color in SweetAlert2 */
.swal2-confirm {
    background-color: rgb(251,44,18) !important;
    border-color: rgb(251,44,18) !important;
  }
  
  /* Optional: Customize other elements with your preferred colors */
  .swal2-title {
    color: rgb(10,59,73) !important;
  }
  
  .swal2-html-container {
    color: rgb(10,59,73) !important;
  }
  